/* utility classes */
.p-r{
 padding-right: 10px
}

.p-b {
  padding-bottom: 25px
}

.margin-b-img {
  margin-bottom: 10px
}

.margin-t-img {
  margin-top: 30px
}
/* end utility classes */

/* navbar */
.navbar {
  height: 50px
}

.navbar li {
  display: inline-block
}

.ln-hgh li {
  line-height: 50px;
  font-size: 11px
}

.logo {
  height: 30px;
  line-height: 50px
}

.middle .fa {
  font-size: 13px
}
/* end navbar */

/* navbar button */
.ep-btn {
  border: 1px solid #99B5FA
}

.ep-btn span {
  color: #99B5FA
}

.ep-btn:hover {
  background: #006AFF;
  color: #fff;
  border: 1px solid #006AFF;
}

.ep-btn span:hover {
  color: #fff
}
/* end navbar button */

/* jumbotron */
.bg-jumbotron {
  background: url("../img/bg-home.jpg");
  background-size: cover;
  padding: 0 10px
}

.jumbotron-form {
  background: #fff;
  border-radius: 5px;
  margin-bottom: 40px;
  padding-bottom: 20px
}

.jumbotron-form h3:nth-child(2) {
  color: #286EF6
}

.main-txt p {
  font-size: 17px
}

h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #081D4B
}

h1 {
  color: #fff;
  font-size: 30px
}

.bg-jumbotron p {
  color: #B3C5FA
}

form, .cya-btn, .suwg-btn {
  width: 100%;
  margin: 0 auto
}

.cya-btn {
  background: #006AFF;
  color: #fff;
  border: 1px solid #006AFF
}

.suwg-btn {
  color: #006AFF;
  border: 1px solid #006AFF
}

.cya-btn:hover {
  background: blue;
  color: #fff;
  border: 1px solid blue
}

.suwg-btn:hover {
  color: #000;
  border: 1px solid #000;
  background: none
}

.scnd-form-btn {
  margin: 10px 0
}

.form-control {
  box-shadow: none;
  height: 45px
}

.scnd-img-txt {
  margin: 40px 0
}
/* end jumbotron */

/* logos row */
.bg-img-txt {
  background: #F3F5F9
}

.img-logos img {
  height: 40px;
  /* max-width: 200px */
}

.img-txt {
  margin: 50px 0;
  text-transform: uppercase;
  color: #858EA4
}

.scnd-img-txt a {
  color: #3075F4
}

.scnd-img-txt a:hover {
  color: #342D7E;
  text-decoration: none
}
/* end logos row */

/* nested */
.nstd-txt {
  margin-bottom: 60px
}

.nstd-txt p {
  font-size: 18px;
  color: #616D88
}

.variable span, .four-boxes span, .features span {
  font-size: 18px
}

.four-boxes span {
  font-weight: bold;
  color: #1D2F59
}

.four-boxes img {
  display: block
}

.variable div {
  border-left: 2px solid #ccc;
  padding-left: 10px;
  padding-bottom: 20px
}

.variable div:first-child {
  padding-top: 20px
}

.variable {
  margin-bottom: 50px
}

.four-boxes img {
  margin: 10px 0
}
/* end nested */

/* photo-slide */
.bg-photo-slide {
  background: #F3F5F9;
  padding-bottom: 20px
}

.photo {
  margin-top: 20px
}

.photo-slide h3 {
  font-size: 40px;
  /* margin-top: 70px; */
  margin-bottom: 15px;
  color: #081D4B
}

.photo-slide p {
  font-size: 18px;
  color: #616D88
}

.photo img {
  height: 150px
}

.photo .fa {
  font-size: 60px;
  font-weight: bold;
  margin: 0 10px;
  vertical-align: middle
}

.ep-hidden {
  display: none
}
/* end photo-slide */

/* features */
.features img {
  display: block
}

.features span {
  font-weight: bold;
  color: #1D2F59
}

.features img {
  margin: 10px 0
}

.features p {
  font-size: 15px;
  color: #616D88
}

.features a {
  color: #3C7DF6;
  font-size: 15px
}

.separator {
  margin-bottom: 15px
}
/* end features */

/* service */
.service {
  background: linear-gradient(#1243B3, #022595);
  padding-bottom: 70px
}

.b-b {
  border-bottom: 1px solid #ccc;
  height: 30px;
  text-decoration: none

}

ul {
  list-style-type: none;
}

.lista li {
  font-size: 9px
}
.lista, .service h3 {
  color: #fff
}

.lista a {
  color: #5FD2D0
}

.lista a:hover {
  color: #fff;
  text-decoration: none
}
/* end service */

/* rockerbox */
.rockerbox img {
  width: 250px
}

.rockerbox .fa {
  font-size: 60px;
  font-weight: bold;
  margin: 0 10px;
  vertical-align: middle
}

.photo-slide h3 {
  font-size: 40px;
  margin-top: 70px;
  margin-bottom: 15px;
  color: #081D4B
}
/* end rockerbox */

/* get started now */
.g-s-n {
  background: linear-gradient(#1243B3, #022595);
  padding-bottom: 20px
}

.g-s-n h3 {
  color: #fff
}

.g-s-n span {
  color: #3176F6
}

.g-s-n button {
  border: 1px solid #fff
}
/* end get started now */

/* media query */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 64px
  }

  h3 {
    font-size: 40px;
    margin-top: 70px;
    margin-bottom: 35px;
  }

  .main-txt p {
    font-size: 23px
  }

  .jumbotron-form {
    margin: 70px 0;
    padding-top: 20px;
    padding-bottom: 30px
  }

  .img-txt, .scnd-txt, .main-txt {
    margin: 50px 0
  }

  .four-boxes div {
    margin-bottom: 40px
  }

  .ep-hidden {
    display: inline-block;
  }

  .photo img {
    height: 400px
  }

  .photo {
    margin-top: 60px
  }

  .rockerbox img {
    width: 580px
  }

  .g-s-n {
    padding-bottom: 70px
  }
}
