/* utility classes */
.p-r{
 /* padding-right: 10px */
}

.p-b {
  padding-bottom: 25px
}

.margin-b-img {
  margin-bottom: 10px
}

.margin-t-img {
  margin-top: 30px
}

.p-l {
  margin-left: 15px
}

.ep-hidden {
  display: none
}
/* end utility classes */

/* navbar */
.navbar {
  margin-bottom: 0
}

.navbar li {
  display: inline-block
}

.ln-hgh li {
  line-height: 55px;
  font-size: 13px
}

.cntnr-logo {
  height: 10px;
  line-height: 50px
}

.logo {
  height: 27px
}

.middle .fa {
  font-size: 13px
}
/* end navbar */

/* navbar button */
.hamburger-menu {
  line-height: 65px;
  font-size: 30px;
  color: #4D8BF7;
  padding-right: 15px
}

.ep-btn {
  border: 1px solid #5490F7
}

.ep-btn span {
  color: #5490F7
}

.ep-btn:hover {
  background: #006AFF;
  color: #fff;
  border: 1px solid #006AFF;
}

.ep-btn span:hover {
  color: #fff
}
/* end navbar button */

/* jumbotron */
.bg-jumbotron {
  background: url("../img/bg-home.jpg");
  background-size: cover;
  padding: 0 10px
}

.jumbotron-form {
  background: #fff;
  border-radius: 5px;
  margin-bottom: 40px;
  padding-bottom: 20px
}

.jumbotron-form h3:nth-child(2) {
  color: #286EF6
}

.main-txt p {
  font-size: 17px
}

h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #081D4B
}

h1 {
  color: #fff;
  font-size: 30px
}

.bg-jumbotron p {
  color: #B3C5FA
}

form, .cya-btn, .suwg-btn {
  width: 100%;
  margin: 0 auto
}

.cya-btn {
  background: #006AFF;
  color: #fff;
  border: 1px solid #006AFF
}

.suwg-btn {
  color: #006AFF;
  border: 1px solid #006AFF
}

.cya-btn:hover {
  background: blue;
  color: #fff;
  border: 1px solid blue
}

.suwg-btn:hover {
  color: #000;
  border: 1px solid #000;
  background: none
}

.scnd-form-btn {
  margin: 10px 0
}

.form-control {
  box-shadow: none;
  height: 45px
}

.scnd-img-txt {
  margin: 40px 0
}
/* end jumbotron */

/* logos row */
.bg-img-txt {
  background: #F3F5F9
}

.img-logos img {
  height: 40px
}

.img-txt {
  margin: 50px 0;
  text-transform: uppercase;
  color: #858EA4
}

.scnd-img-txt a {
  color: #3075F4
}

.scnd-img-txt a:hover {
  color: #342D7E;
  text-decoration: none
}
/* end logos row */

/* nested */
.nstd-txt {
  margin-bottom: 60px
}

.nstd-txt p {
  font-size: 18px;
  color: #616D88
}

.variable span, .four-boxes span, .features span {
  font-size: 18px
}

.variable div {
  border-left: 2px solid #ccc;
  padding-left: 10px;
  padding-bottom: 20px
}

.variable div:first-child {
  padding-top: 20px
}

.variable {
  margin-bottom: 50px
}

.four-boxes span {
  font-weight: bold;
  color: #1D2F59
}

.four-boxes img {
  display: block
}

.four-boxes img {
  margin: 10px 0
}
/* end nested */

/* photo-slide */
.bg-photo-slide {
  background: #F3F5F9;
  padding-bottom: 20px
}

.photo {
  margin-top: 20px
}

.photo-slide h3 {
  font-size: 40px;
  margin-bottom: 15px;
  color: #081D4B
}

.photo-slide p {
  font-size: 18px;
  color: #616D88
}

.photo img {
  height: 150px
}

.bg-photo-slide span {
  font-size: 20px;
  color: #3E4D71;
  font-weight: bold
}

.photo .fa {
  font-size: 60px;
  font-weight: bold;
  margin: 0 10px;
  vertical-align: middle
}

.circle .fa:first-child,
.circle .fa:nth-child(2),
.circle .fa:nth-child(3),
.photo .fa {
  color: #266DF6
}

.photo .fa:hover {
  color: #000
}
/* end photo-slide */

/* features */
.features img {
  display: block;
  margin: 10px 0
}

.features span {
  font-weight: bold;
  color: #1D2F59
}

.features p {
  font-size: 15px;
  color: #616D88
}

.features a {
  color: #3C7DF6;
  font-size: 15px
}

.separator {
  margin-bottom: 15px
}
/* end features */

/* service */
.service {
  padding: 60px 0;
  background: linear-gradient(#1243B3, #022595)
}

.lista .p-b div {
  border-bottom: 1px solid #ccc;
  padding: 10px 0
}

ul {
  list-style-type: none;
}

.lista li {
  font-size: 9px
}

.lista, .service h3 {
  color: #fff
}

.lista a {
  color: #5FD2D0
}

.lista a:hover {
  color: #fff;
  text-decoration: none
}
/* end service */

/* rockerbox */
.rockerbox img {
  width: 250px
}

.rockerbox .fa {
  font-size: 60px;
  font-weight: bold;
  margin: 0 10px;
  vertical-align: middle;
  color: #266DF6
}

.photo-slide h3 {
  font-size: 40px;
  margin-top: 70px;
  margin-bottom: 15px;
  color: #081D4B
}

.rockerbox .fa:hover {
  color: #000
}
/* end rockerbox */

/* get started now */
.g-s-n {
  background: linear-gradient(#1243B3, #022595);
  padding-bottom: 20px
}

.g-s-n span {
  color: #3176F6
}

.g-s-n button {
  border: 1px solid #fff
}
/* end get started now */

/* footer */
.bg-clr-bl {
  background: #081D4B;
  padding: 15px 0
}

.bg-clr-bl h5 {
  color: #72788A
}

.bg-clr-bl h6 {
  color: #54607D
}

.bg-clr-bl span .fa {
  color: #7C859B;
  font-size: 30px
}

.bg-clr-bl span .fa:hover, .g-s-n h3, .bg-clr-bl h4, .bg-clr-bl a:hover {
  color: #fff
}

.fa-twitter, .fa-facebook-official, .fa-instagram, .fa-youtube-play {
  padding-right: 10px
}

.bg-clr-bl a {
  color: #A6ADBB;
  text-decoration: none
}
/* end footer */


/* media query */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 64px
  }

  h3 {
    font-size: 40px;
    margin-top: 70px;
    margin-bottom: 35px;
  }

  .navbar {
    margin-bottom: 0
  }

  .main-txt p {
    font-size: 23px
  }

  .jumbotron-form {
    margin: 70px 0;
    padding-top: 20px;
    padding-bottom: 30px
  }

  .img-txt, .scnd-txt, .main-txt {
    margin: 50px 0
  }

  .four-boxes div {
    margin-bottom: 40px
  }

  .ep-hidden {
    display: inline-block;
  }

  .photo img {
    height: 400px
  }

  .photo {
    margin-top: 60px
  }

  .rockerbox img {
    height: 400px;
    width: 700px
  }

  .lista li {
    font-size: 15px
  }

  .features, .g-s-n, .bg-photo-slide, .service {
    padding-bottom: 70px
  }

  .p-r {
    margin-right: 20px
  }

  .bg-clr-bl {
    padding: 30px 0
  }

  .p-l {
    margin-left: 0
  }
}
